@import "fonts.scss";

/*TYPO*/
$poppins_regular: "Poppins-Regular";
$poppins_medium: "Poppins-Medium";
$poppins_semibold: "Poppins-SemiBold";
$poppins_bold: "Poppins-Bold";


/*COLORS*/
$white: #F2F2F2;
$black: #1D355D;

$purple:rgb(96,102,208);
$orange: #F9A826;
$red: #EA8282;
$green: #60BF88;
$dark-blue: #2F527B;
